<h3>Hotels</h3>
<!-- <table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Number of stars</th>
  </tr>
  <tr *ngFor="let h of hotels">
    <td>{{ h.id }}</td>
    <td>{{ h.name }}</td>
    <td>{{ h.description }}</td>
    <td>{{ h.no_of_stars }}</td>
  </tr>
</table> -->
<div id="modal-component">
  <app-modal
    *ngIf="modalVisible"
    [hotel]="hotelForDeletion.name"
    (onConfirmModal)="onModalResponse($event)"
  ></app-modal>
</div>
<div class="container">
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let h of hotels">
      <app-hotel-card
        [hotel]="h"
        (deleteClicked)="onDeleteClicked($event)"
      ></app-hotel-card>
    </div>
  </div>
</div>
